<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/styles.css">
         <link rel="icon" href="img/icon.png">
    </head>
    <body>
        <div class="main_content">
    {{>header}}
    <img src="img/WhatsApp Image 2020-05-01 at 4.09.46 PM.jpeg" class="portrait">
    <p>My name is {{name}}, and I am an android developer.</p>
    </div>
{{>footer}}
</body>
</html>