<!DOCTYPE html>
<html>
     <head>
        <link rel="stylesheet" href="css/styles.css">
        <link rel="icon" href="img/icon.png">
    
    </head>
    <div class="main_content">
    {{>header}}
    <p>{{message}}</p>
    </div>
    {{>footer}}
</html>